html,body,#root{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: red;
    color: white;
}
.App{
    height: 100%;
}
.Logo{
    height: 100%;
    width:100%;
}
/*common*/
.Input{
    width: 600px;
    height: 60px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
.Button{
    width: 625px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.Mes.good{
    width: 625px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
    color: green;
    border-bottom: 2px solid green;
}
.Mes.bad{
    width: 625px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
    color: red;
    border-bottom: 2px solid red;
}

.Land{
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.LeftLand{
    height: 100%;
    width: 40%;
    background-color: rgb(14, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}
.RightLand{
    height: 100%;
    width: 60%;
    background-color: rgb(14, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.DashBoard{
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DashBoardTop{
    height: 10%;
    width: 100%;
    background-color: rgb(14, 13, 13);
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.DashBoardTopLeft{
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 10px;
}
.DashBoardTopRight{
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 10px;
}
.DashBoardBot{
    height: 90%;
    width: 100%;
    background-color: rgb(14, 13, 13);
    overflow-y: auto;
}
.title{
    color: white;
    text-decoration: none;
    list-style: none;
}
.change{
    border:2px solid grey;
    height: 30px;
    width: 100px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change.selected{
    border: 2px solid white;
    height: 30px;
    width: 100px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Community{
    height: 100%;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(14, 13, 13);
}
.OtherUser{
    width: 99%;
    height: 60px;
    border: 1px solid white;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.Oleft{
    height: 100%;
    width: 80px;
    padding-left: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Oright{
    height: 100%;
    width: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Showop, .Collaborateop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 30px;
    width: 100px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.Your{
    height: 100%;
    background-color: rgb(14, 13, 13);
}
.Show,.Collaborate{
    height: 100%;
    background-color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
}
.close{
    cursor: pointer;
    margin-top: 10px;
    height: 40px;
    width: 70px;
    background-color: red;
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Shows{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Cbot{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}