html,body,#root{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: red;
    color: white;
}
.App{
    height: 100%;
}
.Land{
    height: 100%;
    background-color: blue;
}
.DashBoard{
    height: 100%;
    background-color: yellow;
}